/* .container {
  background-color: lightblue;
  padding: 10px;
} */

h1{
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 25px;
}

input{
  width: 100%;
}

.item-container{
  text-align: left;
}

.kg-row{

 margin: 10px 5px;
}


.kg-button{
  min-width: 50px;
}